$url: "https://raw.githubusercontent.com/ParkYoungWoong/overwatch-hero-selector-vanilla/master/images";
body {
  height: 100vh;  
  background: url("#{$url}/bg.jpg") no-repeat ;
  background-size: cover;
  background-attachment: fixed; /*스크롤 생기면서 배경은 고정*/
}
.container{
  padding: 50px 0;
  .heroes {
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    max-width: 700px;
    margin: 0 auto; /* 블록 요소에 width지정된 상채에서 auto지정하면 중앙정렬*/
    padding: 40px 20px;
    .hero {
      width: 80px;
      height: 84px;
      margin: 4px;
      background-color: #555;
      overflow: hidden;
      border: 3px solid #fff;
      border-radius: 10px;
      transform: skew(-14deg);
      transition: 
        transform 1s,
        background-color .6s;
      &:hover {
        transform: scale(1.3) skew(-14deg);
        background-color: #ff9c00;
        z-index: 1;
      }
      .img {
        width: 140%;
        height: 100%;
        background-position: center;
        background-size: 90px;
        background-repeat: no-repeat;
        transform:skew(14deg) translateX(-16px);
      
      }
      // .hero
      @for $i from 1 through 32 {
        &:nth-child(#{$i}) {
          .img { 
            background-image: url("#{$url}/hero#{$i}.png");
          }
        }
      }
    }
  }
  .logo {
    max-width: 300px;
    margin: 0 auto;
    padding: 0 20px;
    img {
      width: 100%;
    }
  }
  
}